* {
    margin: 0;
    Font-size: 16px;
    font-family: helvetica;
    /*border: 1px solid red;*/
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 100vh;

}

/*** HEADER ***/

header {

    color:aliceblue;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.tab {
    background-color: #f09967;
    /*border: 1px solid red;*/
    /*padding-bottom: 0.6rem;*/
}

.logo {
    grid-column: 1 / span 3;


}

.portfolio {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    margin-bottom: 0;
    font-family: Roboto;
    letter-spacing: 0.5rem;
    padding-bottom: 0.6rem;
    
  
}
.portfolio a {
    text-decoration: none;
    font-family: Roboto;
    color: white;
    margin-bottom: 0;
    letter-spacing: 0.5rem;
    display: block;
    padding-bottom: 0.1rem;
}

.main-picture {
    height: 10rem;
    background-color:rgb(249, 255, 255);
    grid-column: 1 / span 5;
    /*position: relative;*/
}

.main-picture h1 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: #f09967;
    /*background-color: #ebd48a;*/
    padding: 1rem;
    font-size: 1.9rem;
    font-family: Roboto;
    letter-spacing: 0.5rem;
}
/*** NAVBAR ***/

nav {
    grid-column: 4 / span 2;
    display: flex;
    background-color: #f09967;

    
   
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    justify-self: center;



}

nav li {
    margin: auto;
    display: inline-block;
    /*float: right;*/
    padding: 0.3rem;
    justify-content: center;
    
}

nav li a {
    display: block;
    text-align: center;
    padding: 0.6rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    justify-self: center;
}

nav li.active {
    background-color: #d6804e;
}


.navigation li:hover {
    background-color: #d6804e;
}

nav .icon {
    display: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding-top: 0;
}

/*** MAIN ***/

main {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem 1rem;
    margin: 1rem;
    
}

.project-header {
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    grid-column: 1 / span 3;
    padding-bottom: 1rem;
    padding-top: 1rem;
    

}

.project-header h2 {
    padding-left: 4%;
    margin: auto;
    padding-top: 2rem;
    font-size: 1.5rem;
    font-family: Roboto;
    letter-spacing: 0.3rem;
    text-transform: uppercase;

}

.project {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.2rem;
    padding: 1rem;
    align-items: start;
    grid-template-rows: max-content;
    /*background-color: beige;*/
    /*position: relative;*/
    /*border: 1px solid red;*/
}

.project h3 {
    padding-bottom: 0.6rem;
    grid-column: 1 / span 1;
    text-align: center;
}

.project .grid-image {
    grid-column: 1 / span 1;
    /*grid-row: 2 / span 1;*/
    max-width: 90%;
    max-height: 100%;
    /*border: 1px solid red;*/
    margin-bottom: 0.6rem;
    margin: auto;
    
    align-self: start;

}

.project img {
    max-width: 90%;
    max-height: 100%;
    text-align: center;
    justify-self: center;
    border: 1px solid gray;
}

.project p {
    display: block;
    text-overflow: ellipsis;
    width: 85%;
    grid-column: 1 / span 1;
    /*grid-row: 2 / span 1;*/
    /*position: absolute;*/
    /*border: 1px solid red;*/
    margin: auto;
    text-align: justify;
    padding-top: 1rem;
    min-height: 12rem;

}

footer {
    min-height: 2rem;
    background-color: #f09967;
    grid-column: span 4;

 

}


@media only screen and (max-width: 1000px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .project-header {
        grid-column: 1 / span 2;
    }

    .logo {
    grid-column: 1 / span 2;

    }
    nav {
        grid-column: 3 / span 3;
        background-color: #f09967;
    }

    .portfolio {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 700px) {

    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    .project {
        margin: 0 10%;
    }
    
    .project-header {
        grid-column: 1 / span 1;
        text-align: center;
    }

    .logo {
        grid-column: 1 / span 5;
        text-align: center;
    }
    nav {
        grid-column: 1 / span 5;
        display: inline-flex;
        text-align: right;
        align-content: right;

    }

    nav ul {
        display: block;
        width: 100%;
        text-align: right;

    }

    nav li {
        display: block;
        text-align: right;
        width: 100%;
    }


    .navigation li.normal {
        display: none;
        

    } 
    .navigation li.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 10%;
        padding-bottom: 0;
    }
    
    .navigation.responsive li.normal {
        display: block;
        background-color: #f09967;

    } 

    .navigation.responsive li:hover {
        background-color: #d6804e;
    }

    .navigation.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
        /*
    .navigation.responsive li.normal {
        float: none;
        display: block;
        text-align: left;
        position: relative;
        z-index: 5;
    } */

}
